body {
  padding: 10px;
  font-family: sans-serif;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

li.senseurs {
  position: relative;
  list-style: none;
  padding: 6px;
  border-bottom: #eee solid 1px;
}

ul.senseurs {
  margin: 0;
  padding: 0;
  background: white;
}

# Senseurs
li.senseur div.location {
  display: block;
}

li.senseur div.numerique {
  display: inline-block;
  width: 6em;
  text-align: right;
}

li.senseur div.temps {
  display: inline-block;
  width: 10em;
  text-align: right;
}

# Notifications
li.notification div.location {
  display: block;
}

li.notification div.numerique {
  display: inline-block;
  width: 6em;
  text-align: right;
}

li.notification div.temps {
  display: inline-block;
  width: 10em;
  text-align: right;
}

@media (max-width: 300px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

/*
svg circle {
  fill: #663399;
}
*/

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
