h1 {
  padding-top: 0.5rem;
  font-size: 1.8rem;
}
h2 {
  padding-top: 2rem;
  font-size: 1.6rem;
}
h3 {
  padding-top: 1rem;
  font-size: 1.3rem;
}
h4 {
  padding-top: 0.5rem;
  font-size: 1.2rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bouton {
  text-align: right;
  padding-right: 1em;
}

.optionrow {
  padding-bottom: 1em;
}

input.pin {
  margin-left: 0.5em;
}

.boutons {
  text-align: right;
}

.formLogin > div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pinInput {
  width: 20em;
}

.alignement-gauche {
  text-align: left;
}

.alignement-droite {
  text-align: right;
}

.code-qr {
  padding: 1em;
}

/*div.table {}*/
div.table div.table-header {
  background-color: #9eb1bb;
  font-weight: bolder;
}

.noeud-principal {
  font-weight: bold;
}

.table-header {
  font-weight: bold;
}

@media print {

  .w3-top {
    display: none;
  }

  .menu-gauche {
    display: none;
  }
}

.succes {
  color: green;
}

.echec {
  color: red;
}

PRE.stack {
  font-size: small;
}

.icone-cle-millegrille a i {
  color: white;
}
