.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popupinner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.priveHeader {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  position: relative;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
}

section.uploadIcon {
  /* position: absolute; */
  text-align: center;
  padding: 0px;
  margin: 0px;
  /* top: 8px;
  right: 16px; */
}

section.uploadIcon DIV {
  cursor: pointer;
  background: white;
  opacity: 0.6;

}

section.uploadIcon DIV SPAN {
  margin: 4px;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid grey;
}

.securite-prive {

}

.securite-protege {
  color: green;
}

.entete-titre,.w3-bar,h1,button {font-family: "Verdana", sans-serif}

.entete-titre H1 {
  font-size: 150%;
  text-align: center;
  opacity: 0.6;
}

/* Classe editable permet de modifier un element texte inline */
.editable {

}

.bouton-home {
  cursor: pointer;
  background: white;
  opacity: 0.6;
}

.bouton-home > span, .bouton-home > i {
  margin: 5px;
  padding: 2px;
  border: 1px solid grey;
}

.recherche i {
  margin: 2px;
  padding: 1px;
  cursor: pointer;
}

.recherche input {
  width: 100%;
}

.liste-etiquettes button {
  background: none!important;
  border: solid 1px grey;
  padding: 0.1em;

  margin-right: 0.3em;
}

.liste-favoris button {
  background: light-grey;
  border: 0px;
  padding: 0.1em;

  margin: 1px;
  margin-right: 0.3em;
  cursor: pointer;
}

.liste-fichiers div {
  min-height: 1px;
}

.colonne-boutons {
  text-align: right;
}

.colonne-boutons > button {
  margin-left: 0.25em;
}

.tableau-fichiers > div {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.favori-actif, .favori-inactif {
  width: 1em;
  height: 1em;
  margin-right: 0.3em;
  line-height: 1em;
}

.favori-actif > i.fond {
  color: yellow;
}

.favori-inactif > i.fond {
  color: white;
}

.boutons-pages {
  padding-top: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.boutons-pages > button {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

.boutons-pages > button.courante {
  background-color: white;
}
