.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popupinner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.priveHeader {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  position: relative;

  min-height: 10vh;
  display: flex;
  flex-direction: column;
}

section.uploadIcon {
  position: absolute;
  text-align: center;
  border: 1px solid black;
  top: 8px;
  right: 16px;
}

section.uploadIcon DIV {
  cursor: pointer;
  background: white;
  opacity: 0.4;
}

section.uploadIcon SPAN {

}

span.repertoireZone {

}
