TABLE.tableauDonnees,
TABLE.tableauDonnees TH,
TABLE.tableauDonnees TD {
  border: 0px solid black;
}

TABLE.tableauDonnees tr:hover {
  background-color: #f5f5f5;
}

TABLE.tableauDonnees tr:nth-child(even) {
  background-color: #f2f2f2;
}

DIV.appareil {
  background-color: #f2f2f2;
}

.senseur div.location {
  display: inline-block;
  width: 22em;
}

.appareil div.location {
  display: inline-block;
  text-align: right;
  width: 10em;
}

.entete div.location {
  display: inline-block;
  width: 10em;
}

.senseur div.numerique, .appareil div.numerique {
  display: inline-block;
  width: 6em;
  text-align: right;
}

.senseur div.temps, .appareil div.temps {
  display: inline-block;
  width: 10em;
  text-align: right;
}

/* Graphiques d'historique */
circle.serie_0 {
  fill: red;
}

path.line_0 {
    stroke: crimson;
    stroke-width: 2;
    fill: none;
}

circle.serie_1 {
  fill: blue;
}

path.line_1 {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

circle.serie_2 {
  fill: black;
}

path.line_2 {
    stroke: gray;
    stroke-width: 2;
    fill: none;
}

.input-width-auto {
  width: 100%;
  border: 0;
  font-size: 140%;
  opacity: 0.6;
  margin-bottom: 1em;
}
