.date-message {
  margin-bottom: 2em;
}

.date-modifiee {

}

.heure-modifiee {
  font-size: small;
}

.sujet-message {
  font-size: medium;
  display: inline;
  color: #3a4b53;
  font-weight: bold;
  padding-right: 0.5em;
}

.texte-message {
  display: inline;
}

div.w3-card_BR {
  padding-bottom: 1em;
}
