.color-info     {color: blue}
.color-warning  {color: yellow}
.color-danger   {color: red}

/* Panneau fichiers icones */
div.PanneauFichiersIcones {
  display: flex;
  flex-wrap: wrap;

  background-color: #dbebf5;

  /* Debug */
  border: 1pt black solid;
}

div.PanneauFichiersIcones > div {
  /* background-color: #f1f1f1; */
  margin: 0.5em;
  padding: 0.5em;
  width: 7em;
  height: 9em;
}

div.PanneauFichiersIcones > div > span {
  height: 2.5em;
}

div.PanneauFichiersIcones > div i.fond {
  color: yellow;
}

div.PanneauFichiersIcones > div > p {
  font-size: 0.8em;
  overflow: hidden;
  width: 7em;
  height: 4.0em;
  margin: 0;
}

.selectionne {
  background-color: Gainsboro;
}

/* Menu contextuel */
nav.context-menu {
  position: absolute;
  z-index: 10;
  background-color: Gainsboro;
}
nav.context-menu>ul {
	position:absolute; left:0.1em; top:-0.1em; z-index:999;
	width:6.6em;
	margin:0; padding:0.05em; list-style:none;
	background:Gainsboro; color:#333;
	-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;
	-moz-box-shadow:0 0 5px #999; -webkit-box-shadow:0 0 5px #999; box-shadow:0 0 5px #999
}
nav.context-menu>ul li {
}
nav.context-menu>ul li button {
  width: 8em;
  text-align: left;
}
nav.context-menu>ul li:hover {
	/* background:#EC6603; */
  color:#fff;
}
nav.context-menu>ul li:last-child { border:none }
