<template name="App_3colonnes">
  {{> App_navbar}}
  {{> App_3colonnes_contenu}}
  {{> App_3colonnes_footer}}
</template>

<template name="App_3colonnes_contenu">
  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        {{> App_3colonnes_gauche }}
      <!-- End Left Column -->
      </div>
      <!-- Middle and right Columns -->
      {{> Template.dynamic template=main }}
    <!-- End Grid -->
    </div>
  <!-- End Page Container -->
  </div>
  <br>
</template>

<template name="App_3colonnes_footer">
  <footer class="w3-container w3-theme-d3 w3-padding-16">
    <h5>Coup D'Oeil version 1.3.5</h5>
    Coup D'Oeil fait partie du groupe de logiciels
    <a href="https://www.millegrilles.com">MilleGrilles</a>.
  </footer>

  <footer class="w3-container w3-theme-d5">
    <p>
        Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>,
         Meteor, node.js, MongoDB, RabbitMQ, Python, nginx, docker, letsencrypt,
         d3, RaspberryPi, Intel Xeon, Debian, Font Awesome, git.
    </p>
  </footer>
</template>
