<template name="App_3colonnes">
  {{> App_navbar}}
  {{> App_3colonnes_contenu}}
  {{> App_3colonnes_footer}}
</template>

<template name="App_3colonnes_contenu">
  <!-- Page Container -->
  <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3">
        {{> App_3colonnes_gauche }}
      <!-- End Left Column -->
      </div>
      <!-- Middle and right Columns -->
      {{> Template.dynamic template=main }}
    <!-- End Grid -->
    </div>
  <!-- End Page Container -->
  </div>
  <br>
</template>
