<template name="App_3colonnes_gauche">
  <!-- Profile -->
  {{#let configuration=configuration}}
    <div class="w3-card w3-round w3-white">
      <div class="w3-container">
        <h4 class="w3-center">{{configuration.nom_millegrille}}</h4>
       <hr>
       <p>
         <i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i>
         {{configuration.adresse_url_base}}
       </p>
      </div>
    </div>
    <br>

    <!-- Domaines -->
    {{> App_3colonnes_gauche_domaines}}
    <br>

    <!-- Accordion -->
    <!--
    <div class="w3-card w3-round">
      <div class="w3-white">
        <button class="w3-button w3-block w3-theme-l1 w3-left-align">
          <i class="fa fa-globe fa-fw w3-margin-right"></i>
          Activité
        </button>
        <button class="w3-button w3-block w3-theme-l1 w3-left-align">
          <i class="fa fa-code-fork fa-fw w3-margin-right"></i>
          Processus
        </button>
        <button class="w3-button w3-block w3-theme-l1 w3-left-align">
          <i class="fa fa-sliders fa-fw w3-margin-right"></i>
          Paramètres
        </button>
      </div>
    </div>
    <br>
    -->

    <!-- Alert Box -->
    {{#each alertes.alertes}}
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span class="w3-button w3-theme-l3 w3-display-topright alert-close">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Alerte</strong></p>
        <p>{{message}}</p>
      </div>
    {{/each}}
  {{/let}}
</template>

<template name="App_3colonnes_gauche_domaines">
  {{#let configuration_doc=configuration}}
    <div class="w3-card w3-round w3-white w3-hide-small">
      <div class="w3-container">
        <p>Domaines</p>
        <p>
          {{#each liste_domaines configuration_doc.domaines}}
            <span class="mg-bouton w3-button w3-tag w3-small w3-theme {{nom_domaine}}">{{parametres.description}}</span>
          {{/each}}
          <!--
          <span class="w3-tag w3-small w3-theme-d5 SenseursPassifs">SenseursPassifs</span>
          <span class="w3-tag w3-small w3-theme-d4 WebPoll">WebPoll</span>
          <span class="w3-tag w3-small w3-theme-d3 Notifications">Notifications</span>
          <span class="w3-tag w3-small w3-theme-d2">Games</span>
          <span class="w3-tag w3-small w3-theme-d1">Friends</span>
          <span class="w3-tag w3-small w3-theme">Games</span>
          <span class="w3-tag w3-small w3-theme-l1">Friends</span>
          <span class="w3-tag w3-small w3-theme-l2">Food</span>
          <span class="w3-tag w3-small w3-theme-l3">Design</span>
          <span class="w3-tag w3-small w3-theme-l4">Art</span>
          <span class="w3-tag w3-small w3-theme-l5">Photos</span>
          -->
        </p>
      </div>
    </div>
  {{/let}}
</template>
