body {
  padding: 10px;
  font-family: sans-serif;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

DIV.divtop {
  max-width:1400px;
  margin-top:80px;
}

li.senseurs {
  position: relative;
  list-style: none;
  padding: 6px;
  border-bottom: #eee solid 1px;
}

ul.senseurs {
  margin: 0;
  padding: 0;
  background: white;
}

.senseur div.location {
  display: block;
}

.senseur div.numerique {
  display: inline-block;
  width: 6em;
  text-align: right;
}

.senseur div.temps {
  display: inline-block;
  width: 10em;
  text-align: right;
}

li.notification div.location {
  display: block;
}

li.notification div.numerique {
  display: inline-block;
  width: 6em;
  text-align: right;
}

li.notification div.temps {
  display: inline-block;
  width: 10em;
  text-align: right;
}

td.numerique {
  text-align: right;
}

/* Domaines */
.mg-bouton {
  margin-bottom: 3px;
}

span.avertissement {
  font-weight: bolder;
}

@media (max-width: 300px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

svg circle.minimum {
  fill: blue;
}

svg circle.maximum {
  fill: red;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
