body {
  padding: 10px;
  font-family: sans-serif;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

DIV.divtop {
  max-width:1400px;
  margin-top:80px;
}

div.w3-card_BR {
  margin-bottom: 10px;
}

li.senseurs {
  position: relative;
  list-style: none;
  padding: 6px;
  border-bottom: #eee solid 1px;
}

ul.senseurs {
  margin: 0;
  padding: 0;
  background: white;
}

.senseur div.location {
  display: block;
}

.senseur div.numerique {
  display: inline-block;
  width: 6em;
  text-align: right;
}

.senseur div.temps {
  display: inline-block;
  width: 10em;
  text-align: right;
}

li.notification div.location {
  display: block;
}

li.notification div.numerique {
  display: inline-block;
  width: 6em;
  text-align: right;
}

li.notification div.temps {
  display: inline-block;
  width: 10em;
  text-align: right;
}

td.numerique {
  text-align: right;
}

button.aslink {
     background:none;
     color:inherit;
     border:none;
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444;
     cursor: pointer;
}

/* Domaines */
.mg-bouton {
  margin-bottom: 3px;
}

span.avertissement {
  font-weight: bolder;
}

@media (max-width: 300px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

svg circle.minimum {
  fill: blue;
}

svg circle.maximum {
  fill: red;
}

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.w3-card {
  margin-bottom: 2em;
}

.formulaire div div.label {
  text-align: right;
  padding-right: 1em;
}

.formulaire div.boutons {
  padding-top: 1em;
}

.w3-card {
  margin-bottom: 5px;
}

/* S'assurer de prendre la place pour les DIV vide dans un tableau */
.row-donnees > DIV {
  min-height: 1px;
}

.row-donnees.expiree DIV.date {
  color: red;
}

SPAN.label {
  width: 10em;
  display: inline;
}
